<footer class="site-footer">
  <div class="wrap foot">
    <div>
      <div class="script"><span data-wx="@brand.line1">Cottage</span> <span data-wx="@brand.line2">Aesthetics</span></div>
      <p data-wx="@footerTagline">Nurse-led medical aesthetics<br>Hartlebury, Worcestershire</p>
    </div>
    <div data-wx-list="@footer.explore">
      <h4>Explore</h4>
      <a data-wx-list-item data-wx-href=".href" data-wx=".label">Link</a>
    </div>
    <div data-wx-list="@footer.visit">
      <h4>Visit</h4>
      <a data-wx-list-item data-wx-href=".href" data-wx=".label">Link</a>
    </div>
    <div>
      <h4>Get in touch</h4>
      <a data-wx-href="@phoneHref" data-wx="@phone">07401 562 462</a>
      <a data-wx-href="@emailHref">Email us</a>
      <a data-wx-href="@social.instagram" target="_blank" rel="noopener">Instagram</a>
      <a data-wx-href="@social.facebook" target="_blank" rel="noopener">Facebook</a>
      <a href="#" class="js-book">Book online</a>
    </div>
  </div>
  <div class="foot-base">&copy; Cottage Aesthetics &middot; Hartlebury, Worcestershire &middot; Registered nurse-led clinic</div>
</footer>
