<header id="hd">
  <div class="wrap nav">
    <a href="/" class="brand"><span class="b1" data-wx="@brand.line1">Cottage</span><span class="b2" data-wx="@brand.line2">Aesthetics</span></a>
    <nav class="nav-links">
      <span class="nav-list" data-wx-list="@nav">
        <a class="lnk" data-wx-list-item data-wx-href=".href" data-wx=".label">Nav item</a>
      </span>
      <a class="btn btn-primary js-book" href="#">Book Now</a>
    </nav>
    <button class="menu-toggle" aria-label="Open menu">&#9776;</button>
  </div>
  <div class="mobile-menu">
    <span class="nav-list" data-wx-list="@nav">
      <a class="lnk" data-wx-list-item data-wx-href=".href" data-wx=".label">Nav item</a>
    </span>
    <a class="btn btn-primary js-book" href="#">Book Now</a>
  </div>
</header>
